<h2>Sign Up</h2>

<form class="form signup-form">
  <div class="form-group">
    <label for="username-signup">username:</label>
    <input class="form-input" type="text" id="username-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn btn-primary signup" type="submit">Sign Up</button>
    <a href="/login" class="link">Login</a>
  </div>
                
</form>

<script src="/js/signup.js"></script>
