.blogcard {

    margin-bottom: 3%;
}

.maincards {

    margin-bottom: 3%;
}

.newblog {
    margin-top: 3%;
}
.yourblog {
    margin-bottom: 3%;
}

.link {
    margin: 2%;
}

.signup {
    margin: 2%;

}

.form-group {
    margin: 2%;
}

.input-group-text{
    margin-top: 2%;
}